<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form</title>
    <style>
        .form {
            border: 1px solid #bbff96;
        }
    </style>
</head>
<body>
<form action="/requests_execute.action" method="post" class="form">
    <input type="text" name="name">
    <input type="text" name="password">
    <button>提交</button>
</form>
<hr>
<hr>


<form action="/requests_origin.action" method="post" class="form">
    <input type="text" name="name">
    <input type="text" name="password">
    <button>提交</button>
</form>
<hr>
<hr>


<form action="/requests_interfaceMethod.action" method="post" class="form">
    <input type="text" name="name">
    <input type="text" name="password">
    <button>提交</button>
</form>
<hr>
<hr>


<form action="/user.action" method="post" class="form">
    <input type="text" name="name">
    <input type="text" name="age">
    <button>提交</button>
</form>
</body>
</html>