<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form</title>
    <style>
        .form {
            border: 1px solid #bbff96;
        }
    </style>
</head>
<body>
<h2>测试servlet api</h2>
<form action="/requests_execute.action" method="post" class="form">
    <input type="text" name="name">
    <input type="text" name="password">
    <button>提交</button>
</form>
<hr>
<hr>


<form action="/requests_origin.action" method="post" class="form">
    <input type="text" name="name">
    <input type="text" name="password">
    <button>提交</button>
</form>
<hr>
<hr>


<form action="/requests_interfaceMethod.action" method="post" class="form">
    <input type="text" name="name">
    <input type="text" name="password">
    <button>提交</button>
</form>
<hr>
<hr>

<h2>数据封装方式①</h2>
<form action="/user1.action" method="post" class="form">
    <input type="text" name="name">
    <input type="text" name="age">
    <button>提交</button>
</form>
<hr>
<hr>

<h2>数据封装方式①</h2>
<form action="/user2.action" method="post" class="form">
    <input type="text" name="user.name">
    <input type="text" name="user.age">
    <button>提交</button>
</form>
<hr>
<hr>

<h2>数据封装方式③</h2>
<form action="/user3.action" method="post" class="form">
    <input type="text" name="name">
    <input type="text" name="age">
    <button>提交</button>
</form>


<hr>
<hr>

<h2>list数据封装</h2>
<form action="/userList.action" method="post" class="form">
    <input type="text" name="users[0].name">姓名 <br>
    <input type="text" name="user[0].age">年龄 <br>
    <input type="text" name="users[1].name">姓名 <br>
    <input type="text" name="user[1].age">年龄 <br>
    <button>提交</button>
</form>
<hr>
<hr>

<h2>list数据封装</h2>
<form action="/userMap.action" method="post" class="form">
    <input type="text" name="users['one'].name">姓名 <br>
    <input type="text" name="user['one'].age">年龄 <br>
    <input type="text" name="users['two'].name">姓名 <br>
    <input type="text" name="user['two'].age">年龄 <br>
    <button>提交</button>
</form>
</body>
</html>